<<<<<<< HEAD
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
=======
h1 {
    font-size: auto;
    font-weight: normal;
    text-align: center;
    margin: 1em;
>>>>>>> e20fac1 (12)
}

#buttons {
    text-align: center;
<<<<<<< HEAD
    margin-top: 20px;
}

.button {
    display: inline-block;
    margin: 10px;
}

.button button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.button button:hover {
    background-color: #ddd;
}
=======
}

.item {
    display: inline-block;
    margin: auto;
    text-align: left;
    vertical-align: top;
    width: 4.6875em;
}

.button {
    height: 4.4375em;
    position: relative;
    width: 100%;
}

.button button {
    background: url(img/button_normal.webp) no-repeat;
    border: none;
    cursor: pointer;
    font: inherit;
    height: 100%;
    position: absolute;
    width: 100%;
}

.button button:active {
    background-image: url(img/button_pressed.webp);
}

.button .button-background {
    background-color: red;
    border-radius: 50%;
    height: 4.1899em;
    left: .1496em;
    position: absolute;
    top: .1496em;
    width: 4.2897em;
}

.item .label {
    hyphens: auto;
    margin-top: .5em;
    text-align: center;
}

@media (max-width: 400px) {
    h1 span {
        font-size: 1.5rem;
    }
}
>>>>>>> e20fac1 (12)
